version: '3.8'

services:
  kodepos-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - kodepos-network

networks:
  kodepos-network:
    driver: bridge
